@{
    ViewData["Title"] = "Show Category";
}

@model Association

<div class="title-header">
    <h2 class="title-header-text mb-5">@ViewBag.product.Name</h2>
</div>

<div class="flex">
    <div class="flex flex-col gap-10 flex-1 items-center">
        <h2 class="text-5xl font-semibold">Categories</h2>
        @foreach (Association association in @ViewBag.product.Associations)
        {   
            <form asp-action="ToggleProdCatAssociation" asp-controller="Product" asp-route-ProductId="@association.ProductId" method="POST" class="flex gap-2 text-center items-center">
                <input type="hidden" name="CategoryId" value="@association.CategoryId">
                <p>@association.Category?.Name</p>
                <button class="submit-btn">Remove</button>
            </form>
        }
    </div>

    <form asp-action="ToggleProdCatAssociation" asp-controller="Product" asp-route-ProductId=@ViewBag.Product.ProductId method="POST" class="flex flex-col flex-1 items-center gap-10">
        <h2 class="text-5xl font-semibold">Add Category</h2>
        <select name="CategoryId" class="input-priv w-50">
            @foreach (Category category in ViewBag.allUnrelatedCategories)
            {
                <option value="@category.CategoryId">@category.Name</option>
            }
        </select>
        <button class="submit-btn">Add Category</button>
    </form>
</div>